<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.buli.w"
    android:installLocation="internalOnly"
    android:versionCode="102600"
    android:versionName="10.26">

    ... (phần trên giữ nguyên) ...

    <application
        android:name="net.buli.w.WalletApplication"
        ...>
        <activity
            android:name="net.buli.w.ui.WalletActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:label="@string/app_name_short"
            android:launchMode="singleTask"
            android:theme="@style/My.Theme.WithSplash" />
        
        <!-- THÊM DÒNG NÀY -->
        <activity android:name="net.buli.w.ui.NotificationsActivity" android:exported="false" />

        <activity-alias
            android:name="net.buli.w.WalletActivity"
            ...>